* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #ffffff;
    width: 380px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
}

.icon {
    background: #e67e00;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 15px;
}

.subtitle {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.password-box {
    position: relative;
}

.password-box span {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
}

button {
    margin-top: 25px;
    width: 100%;
    background: #e67e00;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #cf6d00;
}

.error {
    background: #fdeaea;
    color: #d32f2f;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    display: none;
}n